{{!< default}}

<main id="site-main" class="site-main outer">
    <div class="inner home-wrap">

        <section class="changelog js-scroll-container">
            {{#foreach posts}}


                {{#has tag="changelog"}}

                <div class="changelog-item js-scroll-item {{post_class}}">
                    <div class="changelog-item-sidebar">
                        {{#if primary_tag}}
                        <span class="changelog-tag changelog-tag-{{primary_tag.slug}}">{{primary_tag.name}}</span>
                        {{/if}}
                    </div>
                    <div class="changelog-item-content">
                        <a {{#if canonical_url}}href="{{canonical_url}}" target="_blank" rel="noopener" {{else}}href="{{url}}" {{/if}}><time class="changelog-date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time></a>
                        <h2 class="changelog-item-title">{{title}}</h2>
                        {{#if feature_image}}
                            <img class="changelog-image"
                                srcset="{{img_url feature_image size="s"}} 300w,
                                        {{img_url feature_image size="m"}} 600w,
                                        {{img_url feature_image size="l"}} 1000w,
                                        {{img_url feature_image size="xl"}} 2000w" sizes="(max-width: 1000px) 400px, 700px" src="{{img_url feature_image size="m"}}" alt="{{title}}"
                            />
                            <p>{{excerpt}}</p>
                        {{else}}
                            {{content}}
                        {{/if}}
                    </div>
                </div>

                {{else}}

                <a class="changelog-item js-scroll-item {{post_class}}" {{#if canonical_url}}href="{{canonical_url}}" target="_blank" rel="noopener"{{else}}href="{{url}}"{{/if}}>
                    <div class="changelog-item-sidebar">
                        {{#if primary_tag}}
                        <span class="changelog-tag changelog-tag-{{primary_tag.slug}}">{{primary_tag.name}}</span>
                        {{/if}}
                    </div>
                    <div class="changelog-item-content">
                        <time class="changelog-date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time>
                        <h2 class="changelog-item-title">{{title}}</h2>
                        {{#if feature_image}}
                        <img class="changelog-image"
                            srcset="{{img_url feature_image size="s"}} 300w,
                                    {{img_url feature_image size="m"}} 600w,
                                    {{img_url feature_image size="l"}} 1000w,
                                    {{img_url feature_image size="xl"}} 2000w" sizes="(max-width: 1000px) 400px, 700px" src="{{img_url feature_image size="m"}}" alt="{{title}}"
                        />
                        {{/if}}
                        <p>{{excerpt}}</p>
                        <div class="readmore">Read the full post &raquo;</div>
                    </div>
                </a>

                {{/has}}

            {{/foreach}}
        </section>

        <aside class="sidebar">
            <a class="highlight-feed-ad highlight-feed-primary-widget" href="https://ghost.org/pricing/">
                <img src="{{asset "img/ghostpro.svg"}}" alt="Ghost(Pro)">
                <p>Spend less time on your server, more time on your site</p>
            </a>
            {{#get "posts" filter="featured:true" include="authors,tags" limit="3"}}
            <div class="post-feed">
                {{#foreach posts}}
                    <article class="post-card {{post_class}}{{#unless feature_image}} no-image{{/unless}}">

                        {{#if feature_image}}
                        <a class="post-card-image-link" href="{{url}}">
                            <div class="post-card-image" style="background-image: url({{feature_image}})"></div>
                        </a>
                        {{/if}}

                        <div class="post-card-content">

                            <a class="post-card-content-link" href="{{url}}">
                                <header class="post-card-header">
                                    {{#if primary_tag}}
                                    <span class="post-card-tags">{{primary_tag.name}}</span>
                                    {{/if}}
                                    <h2 class="post-card-title">{{title}}</h2>
                                </header>
                                <div class="post-card-excerpt">
                                    <p>{{excerpt words="33"}}</p>
                                </div>
                            </a>

                            <footer class="post-card-meta">
                                {{> "components/author-list"}}
                                <span class="reading-time">{{reading_time}}</span>
                            </footer>

                        </div>

                    </article>
                {{/foreach}}
            </div>
            {{/get}}
        </aside>

    </div>
</main>

{{#contentFor "scripts"}}
{{#if pagination.pages}}
<script>
    var maxPages = parseInt('{{pagination.pages}}');
</script>
<script src="{{asset "js/infinitescroll.js"}}"></script>
{{/if}}
{{/contentFor}}
