<ul class="author-list">
{{#foreach authors}}
    <li class="author-list-item">

        <div class="author-name-tooltip">
            {{name}}
        </div>

        {{#if profile_image}}
            <a href="{{url}}" class="static-avatar"><img class="author-profile-image" src="{{profile_image}}" alt="{{name}}" /></a>
        {{else}}
            <a href="{{url}}" class="static-avatar author-profile-image">{{> "icons/avatar"}}</a>
        {{/if}}

        {{link}}

    </li>
{{/foreach}}
</ul>
