<ul class="author-list">
{{#foreach authors}}
    <li class="author-list-item">

        <div class="author-card">
            <div class="basic-info {{#if cover_image}}" style="background-image: url({{cover_image}}){{else}}no-cover{{/if}}">
                {{#if profile_image}}
                    <img class="author-profile-image" src="{{profile_image}}" alt="{{name}}" />
                {{else}}
                    <div class="author-profile-image">{{> "icons/avatar"}}</div>
                {{/if}}
                <h2>{{name}}</h2>
            </div>
            <div class="author-card-bio">
                {{#if bio}}
                    <p>{{{bio}}}</p>
                    <span><a href="{{url}}">More posts</a> by {{name}}.</span>
                {{else}}
                    <span>Read <a href="{{url}}">more posts</a> by this author.</span>
                {{/if}}
            </div>
        </div>

        {{#if profile_image}}
            <a href="{{url}}" class="moving-avatar"><img class="author-profile-image" src="{{profile_image}}" alt="{{name}}" /></a>
        {{else}}
            <a href="{{url}}" class="moving-avatar author-profile-image">{{> "icons/avatar"}}</a>
        {{/if}}

    </li>
{{/foreach}}
</ul>
